* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1rem;
    font-weight: normal;
    font-family: 'Raleway', serif;

}

a.fa: {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

a.fa:hover {
    
}

a.fa-facebook {
    width: 10px;
    height: 10px
}

a.fa-twitter {
    
}

a.fa-instagram {
    
}

a.fa-pinterest {
    
}
