* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1rem;
    font-weight: normal;
    font-family: 'Raleway', serif;

}

html {
    font-family: 'Raleway', serif;
    font-size: 16px;
    line-height: 2rem;
}
.fa {
    float: right;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px 10px 0%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-pinterest {
    color: white;
}
