*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: width 3s; /* Safari */
  -webkit-transition-delay: 1s;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
    margin: auto;
    background-color: #fff;
    height: 100vh;
    color: black;
    border-radius: 10px;
    /*Test*/
    transition: height 3s;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    /*Test*/
    transition: height 3s;

}

.topnav #myLinks {
    display: none;
    /*Test*/
    transition: height 3s;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    /*Test*/
    transition: height 3s;
}

.topnav a.icon {
    background: #e63a65;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    /*Test*/
    transition: height 3s;
}

#c43155 .topnav a:hover {
    background-color: #ddd;
    color: black;
    /*Test*/
    transition: height 3s;
}

.active {
    background-color: #e63a65;
    color: white;
    transition: 0.5s;
    /*Test*/
    transition: height 3s;
}
