* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1rem;
    font-weight: normal;
    font-family: 'Noto Serif', serif;
}

/*
Mint color: #d1f2de;
Dark Blue: #112333;
Dragon Logo: #c4dbd4;
*/


body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'Raleway', sans-serif;

}

h1,
h2 {
    margin: 1rem;
}

h3 {
    margin: 1rem 0rem 1rem 0rem;
}


.main-container {
    margin: auto;
    padding-top: 5.1rem;
    background-color: #fff;
    height: 100%;
    color: black;
    border-radius: 10px;
}

.res_title {
    margin: 2rem 2rem 1rem 1rem;
}


/*Navbar start*/
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1001;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav_logo {
    height: 3.5rem;
    width: 14rem;

}

.topnav #myLinks {
    display: none;

}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

.topnav a.icon {
    /*    background: #e63a65;*/
    background: #9f2523;
    padding-top: 1.5rem;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #9f2523;
    color: white;

}

.active {
    /*    background-color: #e63a65;*/
    background-color: #9f2523;
    color: white;
    transition: 0.5s;

}

/*Navbar end*/



/*-------------------Home Page-----------------------*/

.hero {
    background-image: url("img/center.jpeg");
    background-size: cover;
    background-position: 50% 75%;
    height: 300px;
}

.mission_statement {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    background-color: #9f2523;
}

.home_article {
    display: grid;
    grid-template-rows: auto auto;

    background: #CBEBF2;
    box-shadow: 8px 8px 5px lightgrey;
    margin: 2rem;
}

.home_img {
    width: 100%;

}


.home_text {
    color: #112333;
    margin: 1rem;

}

.home_fest_text {
    max-height: 140px;
    color: #112333;
    padding: 0rem 1rem 0rem 1rem;

}


/*-------------------Around Town-----------------------*/

.town_hero {
    background-image: url("img/bus_line.jpg");
    background-size: cover;
    background-position: 50% 75%;
    height: 300px;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    background-color: #CBEBF2;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
}

.town_title {
    margin: 2rem;
}

.town_img {
    width: 90%;
}

.town_dragontrails {
    background-color: #CBEBF2;
    margin-top: 2rem;
    width: 90%;
}

.town_text {
    padding: 1rem;
    color: #111;
    max-width: 600px;
}


/*-------------------Facilities-----------------------*/

.fac_edges {
    margin-left: 1rem;
    margin-right: 1rem;
}

.fac_container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 8px 8px 5px lightgrey;
    cursor: pointer;
}

.fac_container img {
    vertical-align: middle;
}

.fac_container .fac_content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

}

/*-------------------footer-----------------------*/
.accordion-expand-holder {
    text-align: center;
    padding: 10px;
}

/*-------------------About-----------------------*/

.about_p {
    margin: 2rem;
    max-width: 500px;
}

/*-------------------Events-----------------------*/

.eventButton {
    background-color: #a02524;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 8px;
    float: right;

    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
}

.eventButton:hover {
    background-color: #ea9a99;
    color: #ffffff;
}

.eventButton:active {
    position: relative;
    top: 1px;
}

.buttonBack {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #a02524;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 8px;
    float: left;

    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
}

.myButton:hover {
    background-color: #ea9a99;
    color: #ffffff;
}

.myButton:active {
    position: relative;
    top: 1px;
}

a:visited {
    color: #ffffff;
}

/*-------------------------RSVP-------------------------*/
.RSVPpage {
    padding-left: 10%;
}

/*-------------------Code of Conduct-----------------------*/

.conduct {
    margin-left: 5%;
}


.conduct_ol {
    margin: 1rem;

}

li {
    margin: 1rem;
    max-width: 500px;
}

.coc_p {
    margin: 1rem;
    max-width: 500px;
}




/*-------------------footer-----------------------*/
footer {
    margin-top: 3rem;
    padding: 1rem;
    color: white;
    background-color: #9f2523;
    font-size: 15px;
}



/*
*
-------------------MEDIA SCREEN SECTION-----------------------
*
*/



/*
*MS1
*/
@media screen and (min-width: 668px) {


    .hero {
        height: 400px;
    }

    .home_highlights {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 10px;
        margin: 1rem;
    }

    /*-------------------MS 1 Around Town-----------------------*/

    .town_hero {
        height: 400px;
    }



    .event_acc {
        padding: 4rem;
    }



}


/*
*MS2
*/
@media screen and (min-width: 1068px) {


    body {
        font-size: 18px;
    }

    .home_highlights {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        margin: 1rem;
    }

    .home_fest_img {
        width: 100%;
        height: 58%;
    }

    
    
    /*-------------------About-----------------------*/

    .about_p {
        text-align: left;
        margin: auto;
        padding: 1rem;
        max-width: 500px;
    }

    /*-------------------MS 1 Code of Conduct-----------------------*/
    .conduct {
        text-align: center;
        padding-top: 1rem;
        margin: auto;
        width: 60%;

    }

    .conduct_ol {
        margin: auto;

    }

    li {
        text-align: left;
        margin: auto;
        padding: 1rem;
        max-width: 500px;
    }


    .coc_p {
        text-align: left;
        margin: auto;
        padding: 1rem;
        max-width: 500px;
    }
}



/*
*MS3
*/
@media screen and (min-width: 1168px) {

    .home_highlights {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        margin: 1rem;
    }

    .home_fest_img {
        width: 100%;
        height: 70%;
    }

    /*-------------------MS 3 Facilities-----------------------*/

    .fac_edges {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 10px;
        margin: 1rem;
    }



    .event_acc {
        padding: 3rem 9rem 9rem 9rem;
    }

}
